<% @photos.each do |f| %>
<div class = "white">
  <br>
  <%= image_tag f.file.url(:medium) %>
  <%= link_to "Delete", photo_path(f), method: :delete%>
  <br><br>
<%= f.description %>
</div>
<br><br><br>
<% end %>
