@import "bootstrap";

nav .navbar-nav > li > a{
  color: white;
  padding: 10px;
  }

body {
  background-color: #E0E0E0;
}

.parent {
  width: 700px;
}

img {
     padding:1px;
     border:20px solid white;
     background-color:white;
     width: 100%;
     height: auto;
  }
