@import "bootstrap";

nav .navbar-nav > li > a{
  color: white;
  padding: 10px;
  }

body {
  background-color: #E0E0E0;
}

.parent {
  width: 600px;
}

div.white {
  background-color: white;
}

img {
     padding:1px;
     border:20px solid white;
     background-color:white;
     width: 100%;
     height: auto;
  }

div.pag {
  display: table;
  margin: 0 auto;
}

.pagination > li > a
{
    background-color: white;
    color: #777777;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #777777;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #777777 !Important;
    border: solid 1px #777777 !Important;
}

.pagination > .active > a:hover
{
    background-color: #777777 !Important;
    border: solid 1px #777777;
}

.list {
  margin-bottom: 1em;
}

.like-button {
  bottom: -25px;
  right: 15px;
  width: 6%;
}

.r {
  float:right
}
